{% extends "base.html" %}


{% block content %}
  <div class="container">
    
    <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm" style="margin-top: 50px;">
      <h1>Sign in</h1>
      <section>
      {% if form.errors %}
        <p>The username or password is incorrect. Try again.</p>
      {% endif %}
      <div class="login-form">
        <form action="{% url 'login' %}" method="post">
          {{ form.as_p }}
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}" />
          <button type="submit" class="btn btn-primary">SIGN IN</button>
        </form>
      <div>If you don't have an account <a href="{% url "user_registration" %}" class="button">Sing up</a></div> 
      </div>
      
    </section>
    </div>
    <div class="col-sm">
    </div>
  </div>
    
  </div>
  
{% endblock %}