{% extends "base.html" %}

{% block content %}

    {% if search %}
    <div class="container" style="display: flex; flex-wrap: wrap; justify-content: space-around;">
    {% for event in search %}
        <div class="card" style="width: 18rem; margin: 10px;">
            <img src="{{ MEDIA_URL }}{{ event.image }}" style="height: 160px;" class="card-img-top" >
            <div style="padding: 10px;" class="card-body">
                <h5 style="text-align: center; margin-bottom: 5px;" class="card-title">{{ event.name }}</h5>
                <p style="text-align: center; margin-bottom: 5px;" class="card-text">{{ event.date }}</p>
                <a href="{% url "events:event_detail_view" event.id %}" style="display: block;" class="btn btn-success">Check</a>
            </div>
        </div>
    {% endfor %}
    </div>
    {% include "pagination.html" with page=search%}
    {% elif most_viewed %}
        <h1>Most viewed events</h1>
        <div class="container" style="display: flex; flex-wrap: wrap; justify-content: space-around;">
            {% for event in most_viewed %}
                <div class="card" style="width: 18rem; margin: 10px;">
                    <img src="{{ MEDIA_URL }}{{ event.image }}" style="height: 160px;" class="card-img-top" >
                    <div style="padding: 10px;" class="card-body">
                        <h5 style="text-align: center; margin-bottom: 5px;" class="card-title">{{ event.name }}</h5>
                        <p style="text-align: center; margin-bottom: 5px;" class="card-text">{{ event.date }}</p>
                        <a href="{% url "events:event_detail_view" event.id %}" style="display: block;" class="btn btn-success">Check</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    
{% endblock %}