{% extends "base.html" %}
{% load static %}
{% block style %}
<style>
#payment {
    border: 1px lightgray solid;
    max-width: 400px;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#payment .input-payment {
    background-color: #e9ffff;
    height: 30px; 
}

#payment label {
    margin-top: 10px;
}
#payment input[type=submit]{
    margin: 10px auto;
}
</style>
{% endblock %}
{% block title %}Pay by credit card{% endblock %}

{% block content %}
  <div class="container" style="margin-top: 40px; display:flex; flex-direction: column;">
    <h1>Pay by credit card</h1>
    <h1>Total price: {{ order.total_price }} $ </h1>
    <form action="." id="payment" method="post">

      <label for="card-number">Card Number</label>
      <div class="input-payment" id="card-number" class="field"></div>

      <label for="cvv">CVV</label>
      <div class="input-payment" id="cvv" class="field"></div>

      <label for="expiration-date">Expiration Date</label>
      <div class="input-payment" id="expiration-date" class="field"></div>

      <input type="hidden" id="nonce" name="payment_method_nonce" value="">
      {% csrf_token %}
      <input class="btn btn-outline-success" type="submit" value="Pay">
    </form>
  </div>
  <!-- Load the required client component. -->
  <script src="https://js.braintreegateway.com/web/3.29.0/js/client.min.js"></script>
  <!-- Load Hosted Fields component. -->
  <script src="https://js.braintreegateway.com/web/3.29.0/js/hosted-fields.min.js"></script>
  <script>
    var form = document.querySelector('#payment');
    var submit = document.querySelector('input[type="submit"]');

    braintree.client.create({
      authorization: '{{ client_token }}'
    }, function (clientErr, clientInstance) {
      if (clientErr) {
        console.error(clientErr);
        return;
      }

      braintree.hostedFields.create({
        client: clientInstance,
        styles: {
          'input': {'font-size': '18px'},
          'input.invalid': {'color': 'red'},
          'input.valid': {'color': 'green'}
        },
        fields: {
          number: {
            selector: '#card-number',
            placeholder: '4111 1111 1111 1111'
          },
          cvv: {
            selector: '#cvv',
            placeholder: '123'
          },
          expirationDate: {
            selector: '#expiration-date',
            placeholder: '12/20'
          }
        }
      }, function (hostedFieldsErr, hostedFieldsInstance) {
        if (hostedFieldsErr) {
          console.error(hostedFieldsErr);
          return;
        }

        submit.removeAttribute('disabled');

        form.addEventListener('submit', function (event) {
          event.preventDefault();

          hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
            if (tokenizeErr) {
              console.error(tokenizeErr);
              return;
            }
            // set nonce to send to the server
            document.getElementById('nonce').value = payload.nonce;
            // submit form
            document.getElementById('payment').submit();
          });
        }, false);
      });
    });
  </script>
{% endblock %}